<% if team.users.count > 1 %>
<%# FIXME set to > 0 for debugging to see all boards %>

  <h2><%= team.name %></h2>
<%= button_to 'Delete', team, method: :delete, data: { confirm: 'Are you sure? All team boards will become your private boards.' } %>
  <% team.users.each do |user| %>
    <div class="input-group list-item">
    <input type="text" class="form-control" value="<%= user.username %>" disabled>
      <span class="input-group-btn">
    <form method="post" action="/team_member?user_id=<%= user.id %>&team_id=<%= team.id %>">
      <input type="hidden" name="_method" value="delete" />
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <button type="submit" data-confirm="Are you sure?" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </form>
     </span>
    </div>
  <% end %>

  <form action="/team_member?team_id=<%= team.id %>" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="text" name="user[username]">
    <input type="submit" value="Add team member">
  </form>

<% end %>
