<!DOCTYPE html>
<% if params[:action] == "home" %>
<html class="full-container background-overlay">
<% else %>
<html>
<% end %>
<head>
  <title>Plantofix</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<% if params[:action] == "home" %>
  <body class="full">
<% else %>
  <body>
<% end %>

    <main class="container-fluid">
      <div class="row">
        <% if current_user %>
        <%= render "layouts/navigation" unless params[:action] == "home" %>
        <% end %>
        <%= yield %>
      </div>
    </main>

  </body>
  </html>
