<!DOCTYPE html>
<% if !current_user %>
<html class="full-container background_overlay">
<% else %>
<html>
<% end %>
<head>
  <title>Plantofix</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Alegreya+SC:400,700italic,700,900' rel='stylesheet' type='text/css'>
</head>
<% if !current_user %>
  <body class="full">
<% else %>
  <body>
<% end %>

    <main class="container-fluid">
      <div class="row">
        <% if current_user %>
        <%= render "layouts/navigation" unless params[:action] == "home" %>
        <% end %>
        <%= yield %>
      </div>
    </main>

  </body>
  </html>
