<div class="col-md-3 col-sm-6 col-sx-12 content">
  <h3><%= list.name %></h3>

  <%= button_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>

  <ul class="sortable _list<%= list.id %> list-unstyled">
    <%= render partial: "boards/task", collection: list.tasks %>
  </ul>
  <form action="/tasks" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <div class="form-group">
      <input type="text" name="task[name]" >
    </div>
    <input type="hidden" name="task[assignee_id]" value="<%= current_user.id %>">
    <input type="hidden" name="task[list_id]" value="<%= list.id %>">
    <input type="submit" value="Add task">
  </form>
</div>