<div class="col-lg-2 col-md-4 col-sm-12">
<h3><%= list.name %></h3>
<div id="list<%= list.id %>" class="dragtarget" ondrop="drop(event)" ondragover="allowDrop(event)">
  
</div>
<%= button_to 'Delete', list, method: :delete, data: { confirm: 'Are you sure?' } %>
<form action="/lists" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="text" name="list[name]">
    <input type="hidden" name="list[board_id]" value="<%= get_current_board["id"] %>">
    <input type="submit" value="Add list">
</form>
<br>
<br>
<ul class="list_<%= list.id %>">
<%= render partial: "boards/task", collection: list.tasks %>

<form action="/tasks" method="POST">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="text" name="task[name]">
    <input type="hidden" name="task[assignee_id]" value="<%= current_user.id %>">
    <input type="hidden" name="task[list_id]" value="<%= list.id %>">
    <input type="submit" value="Add task">
</form>
</ul>
</div>