<li> <%= task.name %> 
<%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %>
<button class="task_edit">Edit</button>
<form action="/tasks/<%= task.id %>" method="post" class="edit_form">
    <input type="hidden" name="_method" value="patch" />
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="text" name="task[name]" value="<%= task.name %>">
    <input type="hidden" name="task[assignee_id]" value="<%= task.assignee_id %>">
    <input type="hidden" name="task[list_id]" value="<%= task.list_id %>">
    <input type="submit" name="commit" value="Edit task">
</form>
</li>