<h1>All boards</h1>
<%= render current_user.boards %>
<form action="/boards" method="POST">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="text" name="board[name]">
  <select name="board[team_id]">
  <% private_team = Team.find_private_team(current_user) %>
    <option value="<%= private_team.id %>"><%= private_team.name %></option>
    <% current_user.teams.each do |team| %>
      <% if team.users.count > 1 %>
      <option value="<%= team.id %>"><%= team.name %></option>
      <% end %>
    <% end %>
  </select>
  <input type="submit" value="Add board">
</form>