<div class="col-lg-3 col-md-4 col-sm-6 col-sx-12">
  <div class="well well-list">
    <h3><%= list.name %></h3>
    <ul class="sortable list-unstyled" data-id="<%= list.id %>">
      <%= render partial: "boards/task", collection: list.sorted_tasks %>
    </ul>

    <form class="new_task_item" data-remote="true">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="hidden" name="task[assignee_id]" value="<%= current_user.id %>">
      <input type="hidden" name="task[list_id]" value="<%= list.id %>">
      <input type="hidden" name="task[color]" value="white">
      <input type="hidden" name="task[position]" value="<%= list.next_id %>">
      <div class="form-group task_item_box">
          <input type="text" name="task[name]" class="form-control">
            <button type="submit" class="btn btn-neutral task-btn-middle out-btn">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
      </div>
    </form>
    
    <div class="clearfix margin-fix">
      <%= button_to 'Delete list', list, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger pull-right" %>
    </div>
  </div>
</div>
