<li id="task<%= task.id %>" class="ui-state-default" data-id="<%= task.id %>" data-state="<%= task.position %>"> 
  <div class="task_item_box">
    <div class="well task_item" style="background-color:<%= task.color %>">
      <p class="text-padding">
        <%= task.name %>
      </p>
      <button id="test_id" class="btn task_edit task-btn-up task-btn">
        <span class="glyphicon glyphicon-edit"></span>
      </button>
      <button data-id="<%= task.id %>" 
        data-confirm="Are you sure?" class="btn task-btn-down task-btn task_delete">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </div>

    <form action="/tasks/<%= task.id %>" method="post" data-remote="true" class="task_edit_box task-form-edit" style="display:none">
      <input type="hidden" name="_method" value="patch" />
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
      <textarea name="task[name]" class="form-control well task_item"><%= task.name %></textarea>
      <button type="submit" name="commit" class="btn task-btn submit_edit">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </form>

    <button type="button" class="btn task-btn-up out-btn" data-toggle="modal" data-target="#task_description_<%= task.id %>">
      <span class="glyphicon glyphicon-new-window"></span>
    </button>

<!--     <button tabindex="0" class="btn task-btn-down out-btn colorp" data-toggle="popover" >
      <span class="glyphicon glyphicon-pencil"></span>
    </button> -->

    <button class="btn task-btn-down out-btn colorp">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
  </div>

  <div class="modal fade task_description_modal" id="task_description_<%= task.id %>" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title"><%= task.name %></h4>
        </div>
        <div class="modal-body">

          <form action="/tasks/<%= task.id %>" method="post">
            <input type="hidden" name="_method" value="patch" />
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
            <textarea rows="15" name="task[description]" class="form-control text-description"> <%= task.description %></textarea>
            <button type="submit" name="commit" class="btn btn-primary save">
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</li>