<% private_boards = current_user.boards.select {|board| board.is_private_board? } %>
<% shared_boards = current_user.boards.select {|board| !board.is_private_board? } %>
<div class="col-sm-7 col-sx-12 col-sm-offset-2 padding-off">
  <div class="row">
    <div class="col-sm-6 col-sx-12 content">
      <h1>Private boards</h1>
      <%= render private_boards %>
    </div>

    <div class="col-sm-6 col-sx-12 content">
      <h1>Shared boards</h1>
      <%= render shared_boards %>
    </div>
  </div>
</div>

<div class="col-sm-3 col-sx-12 content last">
  <h1>New board</h1>
  <div class="well clearfix">
    <form action="/boards" method="POST">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <div class="form-group">
        <label class="label-control">Board name</label>
        <input type="text" name="board[name]" class="form-control">
      </div>
      <div class="form-group">
        <select name="board[team_id]" class="form-control">
          <% private_team = current_user.find_private_team %>
          <option value="<%= private_team.id %>"><%= private_team.name %></option>
          <% current_user.teams.each do |team| %>
          <% if team.users.count > 1 %>
          <option value="<%= team.id %>"><%= team.name %></option>
          <% end %>
          <% end %>
        </select>
      </div>
      <input type="submit" value="Add board", class="btn btn-primary pull-right">
    </form>
  </div>
</div>